body{
      font-family: "Inter", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navbar Section start */
.navbar{
background-color: #FFFFFF;
}

.nav-container{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 115px 16px 115px;
}


ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    
}
ul li {
    list-style: none;
   
    
}

.btn{
    width: 164px;
    height: 44px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: none;
   
    background-color:  #30B868;
}

/* Navbar Section end */


/*  Banner Section start */

.banner{
    height: 674px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.275)),
    url("../assets/hero-bg.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    padding-top: 70px;


}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}
.banner-badge{
   color: #30B868;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 6;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    border: none;
    background-color: #FFFFFF;
}
h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
   
}
.highlight{
    color: #30B868;
}

.banner-content p{

    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400px;
    text-align: center;
   
}
.banner-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
   
}
.btn-a{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
padding: 12px 16px 12px 16px;
border-radius: 4px;
border: none;
background-color:#30B868;
color: #FFFFFF;
font-size: 16px;
font-weight: 600;
box-shadow: 0px 10px 20px 0px #00000026;

}
.btn-b{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600px;
    
}

/*  Banner Section end */

/*  notes section start */

.notes{
    background-color: #FFFFFF;
    padding-top: 70px;
}


.section-header h2{
color: #001931;
font-size: 48px;
font-weight: 700px;
text-align: center
}
.section-header p{

font-size: 16px;
font-weight: 400px;
text-align: center;
margin-top: 10px;
margin-bottom: 40px;
color: #627382;
    
}

.notes-cards{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.card{

width: 322px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
padding: 24px;

border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);


}
.card-icon{
    width: 60px;
    height: 60px;
    background: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px ;
}

.card h3{
color: #001931;
font-size: 24px;
font-weight: 600;
margin-top: 15px;
margin-bottom: 15px;
text-align: center;
}
.card p{
color:  #627382;
font-size: 16px;
font-weight: 400px;
text-align: center;

}
/* notes section end  */

/* Second Brain Section :start */

.second-brain{ 
padding: 120px;
background-color: #FFFFFF;

}

.brain-wrapper{
  display: flex;
  align-items: center;
  gap: 60px;
}

.section-label{
color:#30B868 ;
font-size: 16px;
font-weight: 500px;
text-align: left;

}



.brain-content h2{
color:#001931 ;
font-size: 48px;
font-weight: 700px;
text-align: left;
margin: 15px 0px 15px 0px ;
   
}

.brain-content p{
color:#627382, ;
font-size: 16px;
font-weight: 400px;
text-align: left;
margin-bottom: 30px;
}

.brain-features{
 display: flex;  
  flex-direction: column;
  justify-content: left;
  
}
.brain-content li{
    list-style: none;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    

}

/* Second Brain Section :end */

/* Early Access Section :start */
.early-access{

    margin-bottom: 120px;


}

.early-content{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 24;
padding: 80px 40px 80px 40px;
background-color: #F7F6F2;
border-radius: 12px;


}

.early-content h2{
color:  rgba(0, 25, 49, 1);
font-size: 40px;
font-weight: 700px;
text-align: center;
}

.early-content p{
margin: 15px 0px 15px 0px ;
color:#627382;
font-size: 16px;
font-weight: 400px;
line-height: 24px;
text-align: center;
}
/* Early Access Section :end  */

/*  Footer Section */
.footer{
background-color: #001931;
gap: 80px;
padding: 120px 120px 30px 120px;

}

.footer-top{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
margin-bottom: 80px;

}
.social-title{
color: rgba(255, 255, 255, 1);
font-size: 20px;
font-weight: 500px;
text-align: center;
}
.social-icons{
 margin: 15px 0px 0px 0px ;   
 
}
.social-icons a{
 margin-right: 10px;   
 
}
hr{
border: 1px solid  #E5E7EB;
opacity: 0.2;


}
.footer-bottom{
color: rgba(250, 250, 250, 1);
font-size: 16px;
font-weight: 400px;
line-height: 24px;
text-align: center;
margin-top: 30px;
}

button:hover{
  background-color: #22c55e; 
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

