body{
      font-family: "Inter", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.svg-a{
    margin-left: 5px;
}
.svg-b{
    margin-right: 5px;
}
.svg{
    margin-right: 5px;
}
.container{
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Navbar Section start */
.navbar{
background-color: #FFFFFF;
}

.nav-container{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 120px 16px 120px;
}


ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32;
    
}
ul li {
    list-style: none;
    margin-left: 32px; ;
    
}

.btn{
    width: 164px;
    height: 44px;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    border: none;
   
    background-color:  #30B868;
}

.btn a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);

}
/* Navbar Section end */


/*  Banner Section start */

.banner{
    height: 674px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.275)),
    url("../assets/hero-bg.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    padding-top: 70px;


}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32;
}
.banner-badge{
   color: rgba(48, 184, 104, 1);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 6;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}
h1{
    color: rgba(255, 255, 255, 1);
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}
.highlight{
    color: rgba(48, 184, 104, 1);
}

.banner-content p{

    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom:15px; ;
}
.banner-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}
.btn-a{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 16px 12px 16px;
border-radius: 4px;
border: none;
background-color:#30B868;
color: rgba(255, 255, 255, 1);
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;

}
.btn-b{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    
}

/*  Banner Section end */